USE [master]
GO
/****** Object:  Database [Software3]    Script Date: 04/05/2019 17:04:35 ******/
CREATE DATABASE [Software3] ON  PRIMARY 
( NAME = N'Software3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Software3.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Software3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\Software3_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Software3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Software3]
GO
/****** Object:  Table [dbo].[DatosUsuario]    Script Date: 04/05/2019 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosUsuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](500) NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosEmpresa]    Script Date: 04/05/2019 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](500) NULL,
	[Proposito] [nvarchar](1000) NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proceso]    Script Date: 04/05/2019 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proceso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoProceso] [nvarchar](1000) NULL,
	[NombreProceso] [nvarchar](1000) NULL,
	[PropositoProceso] [nvarchar](1000) NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Proceso] ON
INSERT [dbo].[Proceso] ([Id], [CodigoProceso], [NombreProceso], [PropositoProceso], [Estatus]) VALUES (1, N'EDM01', N'Asegurar la gobernabilidad Ajuste Marco y Mantenimiento', NULL, 1)
INSERT [dbo].[Proceso] ([Id], [CodigoProceso], [NombreProceso], [PropositoProceso], [Estatus]) VALUES (2, N'EDM02 ', N'Beneficios garantizar la entrega', NULL, 1)
INSERT [dbo].[Proceso] ([Id], [CodigoProceso], [NombreProceso], [PropositoProceso], [Estatus]) VALUES (3, N'EDM03', N'Garantizar la optimización del Riesgo', NULL, 1)
SET IDENTITY_INSERT [dbo].[Proceso] OFF
/****** Object:  Table [dbo].[Nivel]    Script Date: 04/05/2019 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nivel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProceso] [int] NULL,
	[CodigoNivel] [nvarchar](1000) NULL,
	[Detalles] [nvarchar](1000) NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Nivel] ON
INSERT [dbo].[Nivel] ([Id], [IdProceso], [CodigoNivel], [Detalles], [Estatus]) VALUES (1, 1, N'Nivel 0 Incompleto', NULL, 1)
INSERT [dbo].[Nivel] ([Id], [IdProceso], [CodigoNivel], [Detalles], [Estatus]) VALUES (2, 1, N'Nivel 1 Realizado ', NULL, 1)
INSERT [dbo].[Nivel] ([Id], [IdProceso], [CodigoNivel], [Detalles], [Estatus]) VALUES (3, 1, N'Nivel 2 Gestionado ', NULL, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
SET IDENTITY_INSERT [dbo].[Nivel] OFF
/****** Object:  Table [dbo].[ProcesoEmpresa]    Script Date: 04/05/2019 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcesoEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdProceso] [int] NULL,
	[IdEmpresa] [int] NULL,
	[Nivel0] [decimal](18, 2) NULL,
	[Nivel1] [decimal](18, 2) NULL,
	[Nivel2] [decimal](18, 2) NULL,
	[Nivel3] [decimal](18, 2) NULL,
	[Nivel4] [decimal](18, 2) NULL,
	[Nivel5] [decimal](18, 2) NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropositoNivel]    Script Date: 04/05/2019 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropositoNivel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNivel] [int] NULL,
	[Proposito] [nvarchar](1000) NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PropositoNivel] ON
INSERT [dbo].[PropositoNivel] ([Id], [IdNivel], [Proposito], [Estatus]) VALUES (1, 1, N'El proceso no se lleva a cabo, o no lograr su propósito proceso. ', 1)
INSERT [dbo].[PropositoNivel] ([Id], [IdNivel], [Proposito], [Estatus]) VALUES (2, 2, N'PA 1.1 El proceso implementado logra su propósito proceso.', 1)
INSERT [dbo].[PropositoNivel] ([Id], [IdNivel], [Proposito], [Estatus]) VALUES (3, 3, N'PA 2.1 Administración de Rendimiento - Una medida del grado en que se gestiona el rendimiento del proceso.  ', 1)
SET IDENTITY_INSERT [dbo].[PropositoNivel] OFF
/****** Object:  Table [dbo].[Criterio]    Script Date: 04/05/2019 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criterio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdNivel] [int] NULL,
	[DetalleCriterio] [nvarchar](1000) NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Criterio] ON
INSERT [dbo].[Criterio] ([Id], [IdNivel], [DetalleCriterio], [Estatus]) VALUES (1, 1, N'En este nivel, hay poca o ninguna evidencia de cualquier logro del propósito del proceso.', 1)
INSERT [dbo].[Criterio] ([Id], [IdNivel], [DetalleCriterio], [Estatus]) VALUES (2, 2, N'EDM01-O1 Estratégica modelo de toma de decisiones de TI es eficaz y alineado con los requisitos ambientales y de grupos de interés internos y externos de la empresa.', 1)
INSERT [dbo].[Criterio] ([Id], [IdNivel], [DetalleCriterio], [Estatus]) VALUES (3, 2, N'EDM01-O2 El sistema de gobierno de TI es incrustado en la empresa.', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
SET IDENTITY_INSERT [dbo].[Criterio] OFF
GO
print 'Processed 1000 total records'
/****** Object:  Table [dbo].[CriterioEmpresa]    Script Date: 04/05/2019 17:04:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CriterioEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdCriterio] [int] NULL,
	[IdEmpresa] [int] NULL,
	[SeCumple] [bit] NULL,
	[Comentario] [nvarchar](1000) NULL,
	[NoConseguido] [decimal](18, 2) NULL,
	[Parcialmente] [decimal](18, 2) NULL,
	[ParteConseguido] [decimal](18, 2) NULL,
	[Totalidad] [decimal](18, 2) NULL,
	[Estatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK__Nivel__IdProceso__1273C1CD]    Script Date: 04/05/2019 17:04:35 ******/
ALTER TABLE [dbo].[Nivel]  WITH CHECK ADD FOREIGN KEY([IdProceso])
REFERENCES [dbo].[Proceso] ([Id])
GO
/****** Object:  ForeignKey [FK__ProcesoEm__IdEmp__0DAF0CB0]    Script Date: 04/05/2019 17:04:35 ******/
ALTER TABLE [dbo].[ProcesoEmpresa]  WITH CHECK ADD FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[DatosEmpresa] ([Id])
GO
/****** Object:  ForeignKey [FK__ProcesoEm__IdPro__0CBAE877]    Script Date: 04/05/2019 17:04:35 ******/
ALTER TABLE [dbo].[ProcesoEmpresa]  WITH CHECK ADD FOREIGN KEY([IdProceso])
REFERENCES [dbo].[Proceso] ([Id])
GO
/****** Object:  ForeignKey [FK__Proposito__IdNiv__173876EA]    Script Date: 04/05/2019 17:04:35 ******/
ALTER TABLE [dbo].[PropositoNivel]  WITH CHECK ADD FOREIGN KEY([IdNivel])
REFERENCES [dbo].[Nivel] ([Id])
GO
/****** Object:  ForeignKey [FK__Criterio__IdNive__1BFD2C07]    Script Date: 04/05/2019 17:04:35 ******/
ALTER TABLE [dbo].[Criterio]  WITH CHECK ADD FOREIGN KEY([IdNivel])
REFERENCES [dbo].[Nivel] ([Id])
GO
/****** Object:  ForeignKey [FK__CriterioE__IdCri__20C1E124]    Script Date: 04/05/2019 17:04:35 ******/
ALTER TABLE [dbo].[CriterioEmpresa]  WITH CHECK ADD FOREIGN KEY([IdCriterio])
REFERENCES [dbo].[Criterio] ([Id])
GO
/****** Object:  ForeignKey [FK__CriterioE__IdEmp__21B6055D]    Script Date: 04/05/2019 17:04:35 ******/
ALTER TABLE [dbo].[CriterioEmpresa]  WITH CHECK ADD FOREIGN KEY([IdEmpresa])
REFERENCES [dbo].[DatosEmpresa] ([Id])
GO
